{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<nav class="navbarDark">
    <p class="dlogin">LOGIN</p>
  </nav>
  <div>
      <form class="login_Form" action="/login" method="POST">
       
          <div>
              <input class="email" type="email" placeholder=" Email" name="email" required>
          </div>
          <div>
              <input class= "password" type="password" placeholder=" Password" name="password" required>
          </div>
              <button class = "submitBtn" type="submit">{%block button%}Login{%endblock%}</button>
              
          </div>
          
      </form>
  </div>
{% endblock %}
